.videoToolsContainer {
    width: 1440px;
    margin: 0 auto;
    padding-left: 48px;
    padding-top: 90px;
    padding-bottom: 90px;


    display: flex;
    flex-direction: column;

    background-color: #ffce00;

}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    text-transform: uppercase;
    color: #000;

    margin-bottom: 90px;

    display: flex;
    align-items: flex-start;

}

.leftText {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1;
    color: #000;

    margin-bottom: 80px;

}

.textContainerOne {
    margin-bottom: 21px;
}

.aboutTextOne {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #000;
    font-weight: 700;

}

.textContainerTwo {
    margin-bottom: 111px;
}

.aboutTextTwo {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #000;
    font-weight: 700;
}

.btn {
    width: 193px;
    height: 36px;

    border-radius: 20px;
    border: 2px solid black;

    background-color: white;
}


.bodyPart {

    display: flex;
    align-items: center;
    
    gap: 20px;
}

.textPart {
    width: 441px;
    height: 616px;
}

.videoPart {
    width: 883px;
    height: 616px;
}