.videoToolsContainer {
    width: 1440px;
    margin: 0 auto;
    padding-left: 48px;


    display: flex;
    flex-direction: column;

}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    text-transform: uppercase;
    color: #000;

    margin-bottom: 90px;

    display: flex;
    align-items: flex-start;

}

.bodyPart {

    display: flex;
    align-items: center;
    
    gap: 20px;
}

.textPart {
    width: 441px;
    height: 616px;
}

.videoPart {
    width: 883px;
    height: 616px;
}